<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">

  <h2>About Us</h2>
  <p>One question that we often get asked is – what is a blog website?</p>
  <br>

  <p>Though blogging began as a sort of digital journal, allowing individuals to write about their lives and experiences.
    A blog is a piece of written content that is published on a web page or site.
    The topics of blogs can vary from person to person or even business to business.</p>
  <br>

  <p>The main purpose of blogs is to convey information in a way that is more informal or conversational than other long-form written 
    content.
     It soon also became a marketing tool for businesses to connect with their target audiences.                                 
     Today, small businesses that blog get 126% more lead growth than those without a blog.</p>
  <br>

  <p>That’s because blogs are a great way to add value for your leads and customers through educational and engaging content that addresses 
     their greatest needs and challenges.
     Not to mention, businesses can show a little personality in their blog content, which can help them establish and reinforce their brand 
     persona.
     Below, we’ll answer the question, what is a blog website, and explain how blogging can help your business reach and connect with your ideal
     audience.
     We’ll also give you the information you need to get started creating a business blog of your own.</p>
  <br>

  </div>

</body>
</html>